* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


body {
    font-family: Roboto, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: -1;
}

#title {
    text-align: center;
    margin-top: 30px;
    color: white;
}

#description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: white;
}




.first {
    width: 50%;
    margin: auto;
    background-color: rgb(51, 68, 78);
    opacity: 0.9;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.form-group {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
    background-color: rgb(205, 236, 255);
    border-color: skyblue;
    border-radius: 4px;
    padding: 8px;
    margin-top: 4px;
}

input {
    box-shadow: 0px 0px 15px 2px rgba(7, 12, 49, 0.329);
}


@media screen and (max-width: 900px) {
    .first {
        width: 80%;
        padding: 16px;
    }
    #title {
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .first {
        width: 98%;
        padding: 8px;
    }
    #title {
        font-size: 24px;
    }
}